<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>automobile_mainatainance</title>
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
        <link href="RegistrationStyle.css" rel="stylesheet" />

    </head>
    <body>
        <main>
            <div class="header-img"><ul class = "nav"><a href = "Home.html" >Home |</a> <a> Registration | </a> <a>Login | </a> <a>Order</a></ul>
            </div>
        </main>
        <div class="container">
            <!--<div align="center"></div>-->
        <h3>REGISTRATION</h3>
        <p class = "slogan">Get Registered here</p>
        <img th:src="@{/images/car.png}"/>

        <form method="POST" th:object="${user}">


    <div>
            <label for="name">Name:</label>
           <input th:class="|form-control ${#fields.hasErrors('name')?'is-invalid':'is-valid'}|"
           type="text" th:field="*{Name}"/>
           <br>
           <div  class="invalid-feedback"
th:if="${#fields.hasErrors('Name')}"
th:errors="*{Name}"></div>
</div>


<div>
           <label for="email">Email:</label>
           <input th:class="|form-control ${#fields.hasErrors('Email')?'is-invalid':'is-valid'}|"
           type="email" th:field="*{Email}"/>
           <br>
           <div  class="invalid-feedback"
           th:if="${#fields.hasErrors('Email')}"
           th:errors="*{Email}"></div></div>



<div>
           <label for="pno">Phone-no:</label>
           <input th:class="|form-control ${#fields.hasErrors('Phone_Number')?'is-invalid':'is-valid'}|"
           type="number" th:field="*{Phone_Number}"/>
           <br>
           <div  class="invalid-feedback"
th:if="${#fields.hasErrors('Phone_Number')}"
th:errors="*{Phone_Number}"></div></div>



<div>
           <label for="usname">Username:</label>
           <input th:class="|form-control ${#fields.hasErrors('UserName')?'is-invalid':'is-valid'}|"
           type="text" th:field="*{UserName}"/>
           <br>
           <div  class="invalid-feedback"
th:if="${#fields.hasErrors('UserName')}"
th:errors="*{UserName}"></div>
</div>


<div>
           <label for="password">password:</label>
           <input th:class="|form-control ${#fields.hasErrors('Password')?'is-invalid':'is-valid'}|"
           type="password" th:field="*{Password}"/>

           <br>
           <div  class="invalid-feedback"
           th:if="${#fields.hasErrors('Password')}"
           th:errors="*{Password}"></div>
           </div>
    
           
             <button>log in now</button> 
           </form>
           
                
            
        
        </div>
    </body>
    
</html>