<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mechinaye</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link href="RatingStyle.css" rel="stylesheet">
</head>
<body>
    <main>
        <div class="header-img"><ul class = "nav"><a href = "Home.html" >Home |</a> <a> Registration | </a> <a>Login | </a> <a>Order</a></ul>
        </div>
    </main>

    <div class="container">  
    <h3>Welcome To the Rating Page</h3>
    
    <p><span  th:text=" 'We hope you enjoyed using our services. Please fill the form below to rate the quality as well as efficiency of the services.'"></p>
    <p><span th:text=" 'This will help us suggest different service providers for new users.' "></span></p>
    <hr></div>

    <!-------Checkbox---------->
   
    <form th:action="@{/Rating}" method="POST" >
    <p> Are you a regular user of Mekinaye?:<br>
        <input type="checkbox" name="service" value="Yes">Yes<br>

        <input type="checkbox" name="service" value="sometimes">I use mekinaye sometimes but not regularly<br>
        <input type="checkbox" name="service" value="No">No</p><br>

   
    <div>
    <p><span th:text=" 'How would you rate this website?' "></span></p>
        <p>How would you rate this website?</p>
        <input type="checkbox" th:field="very_good" th:value="*{very_good}">Very Good
        <input type="checkbox" th:name="Good" th:value="*{good}">Good
        <input type="checkbox" th:name="Bad" th:value="*{bad}">Bad
    </div>
    
    <p>Could you tell us why you chose that option?</p>
    <textarea name="comments" cols="20"rows="4">Enter your comments here</textarea><br></form>

    <form method="POST" >
        <button>go back to Home</button>
    </form>
    <form method="POST" th:action="@{/register/current}" >
        <button>order another service</button>
    </form>
    <script th:src="@{/js/bootstrap.bundle.min.js}">
    </script>
    </div> 
    
</body>
</html>